html,
body,
div#app {
  height: 100%;
  margin: 0;
}

body {
  user-select: none;
  font-family: "Raleway", "Roboto", sans-serif;
  background-color: #333;
  color: #eee;
}

div#app {
  display: flex;
  justify-content: center;
  align-items: center;
}

.player-container {
  display: flex;
  flex-direction: column;
  width: 120px;
  gap: 1rem;
  align-items: center;
}

.stat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

button {
  margin: 0.5rem;
  cursor: pointer;
  color: #eee;
  background-color: transparent;
}

button:active {
  opacity: 0.5;
}

.stat-container button {
  width: 80%;
  padding: 0.7rem 0rem 0.7rem 0rem;
  font-weight: bold;
}

.button-top-gradient {
  background-color: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to top, rgba(0, 0, 0, 0), white);
  border-bottom: 0;
  border-width: 2px;
}

.button-bottom-gradient {
  background-color: transparent;
  border-image-slice: 1;
  border-image-source: linear-gradient(to bottom, rgba(0, 0, 0, 0), white);
  border-top: 0;
  border-width: 2px;
}

.end-turn-button {
  width: 80%;
  padding: 0.5rem;
  border: 2px solid #eee;
}
